@import "tailwindcss";

:root {
  --font-raleway: "Raleway", sans-serif;
  font-family: var(--font-raleway);
}

body {
  cursor: none;
}
@media screen and (max-width: 768px) {
  body {
    cursor: default;
  }
}

.fade-title-text {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
