@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
  display: inline-block;
  width: 4rem;
  height: 1px;
  background: #413e66;
}

.contact {
  background: #001f3f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.contact:hover {
  background: #413e66;
}

.fade-title {
  animation: fadeBackground 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeBackground {
  from {
    background-color: #ebe3f1;
  }
  to {
    background-color: #001f3f;
  }
}

.fade-title-text {
  animation: slide-up 2s;
}
@keyframes slide-up {
  from {
    margin-top: 10%;
  }
  to {
    margin-top: 0%;
  }
}

.fade-image {
  animation: fadeImage 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.scroll-container div {
  display: inline-block;
}

.scroll-container div img {
  padding: 10px;
}