@tailwind base;
@tailwind components;
@tailwind utilities;

.line {
  display: inline-block;
  width: 5rem;
  height: 1px;
  background: #413e66;
}

.contact {
  background: #001f3f;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.contact:hover {
  background: #413e66;
}
