.cursor {
  position: fixed;
  border: 1px solid white;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999999;
  backdrop-filter: blur(1px);
  transition:
    width 0.2s ease-in-out,
    height 0.2s ease-in-out;
}

/* Remove this custom cursor in mobile devices */
@media screen and (max-width: 768px) {
  .corsor {
    width: 0;
    height: 0;
    transition:
      width 0.2s ease-in-out,
      height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}